# gitignore template for the Racket language
# website: http://www.racket-lang.org/

# DrRacket autosave files
**/.DS_Store
*.rkt~
*.rkt.bak
\#*.rkt#
\#*.rkt#*#

# Compiled racket bytecode
**/compiled/
*.zo
